/* -- Fonts-------------------------------------------------------------------- */
@import "https://fonts.googleapis.com/css?family=Pathway+Gothic+One|Roboto:300,400,500,700";
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  font-family: "FontSansSmall-Regular", sans-serif;
  font-weight: 600;
}
body {
  background: url("./Resources/Yacine/Banner_Background_01.jpg") no-repeat;
  background-size: cover;
}
/* -- End Fonts-------------------------------------------------------------------- */

/*---------------- navigation bar ---------------------------------------------------------*/
.hero {
  min-width: 1024px;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  left: 0;
  right: 0;
  z-index: 1;
}

nav {
  width: 100%;
  height: 75px;
  border-bottom: 1px solid rgba(114, 32, 32, 0.3);
  position: relative;
}

nav:before {
  content: "";
  display: block;
  width: 100%;
  height: 70px;
  box-shadow: 0px 0px 110px 30px rgba(0, 0, 0, 0.5);
  position: absolute;
  background-color: red;
  top: -70px;
  z-index: -1;
}

.col-nav {
  float: left;
  margin: 0 2.33333333%;
}

.col-nav:first-child,
.col-nav:last-child {
  width: 18%;
}

.col-nav:nth-child(2) {
  width: 50%;
}

.logo-container-nav,
.menu-container-nav,
.buttons-container-nav {
  height: 100%;
  position: relative;
}

.logo-icon-nav {
  display: block;
  width: 155px;
  height: 65px;
  background: url("./Resources/Yacine/Banner_Logo.png") no-repeat center center;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.menu-content-nav {
  height: 100%;
}

.menu-content-nav li {
  /* display: inline-block; */
  float: left;
  height: 100%;
  line-height: 72px;
  width: 19.53125%;
  margin: 0 2.734375%;
  letter-spacing: 0.5px;
}

.menu-content-nav li:hover {
  border-bottom: 2px solid #ffffff;
  cursor: pointer;
}

.selected-categories:after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  position: relative;
  top: -4px;
  left: 6px;
  border: 1px solid #ffffff;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  transform: rotate(45deg);
  transition: all 0.15s linear;
}

.selected-rotate:after {
  transform: rotate(-135deg);
  top: 1px;
}

.text-nav {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
}

.text-nav a {
  text-decoration: none;
}

.text-nav a:link,
.text-nav a:visited {
  color: #ffffff;
}

.buttons-content-nav {
  overflow: hidden;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.buttons-content-nav a {
  display: inline-block;
  width: 100px;
  height: 36px;
  line-height: 36px;
  border-radius: 25px;
}

.buttons-content-nav a:first-child {
  border: 2px solid #ffffff;
  margin-right: 2px;
}

.buttons-content-nav a:last-child {
  background-color: #ffffff;
  border: 2px solid #ffffff;
}

.text-btn-nav {
  text-align: center;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.text-btn-nav a {
  text-decoration: none;
}

.text-btn-nav a:first-child {
  color: #ffffff;
}

.text-btn-nav a:last-child {
  color: #222222;
}

.sub-menu {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 155px;
  z-index: -1;
  top: 0;
  background-color: #009cde;
  background-image: radial-gradient(
    circle farthest-side at center bottom,
    #303030,
    #202020 100%
  );
}

.sub-menu-list {
  margin: 99px 6% 0 3%;
  overflow: hidden;
}

.sub-menu-list li {
  width: 30%;
  float: left;
  white-space: nowrap;
}

.sub-menu-list li:nth-child(4) {
  clear: left;
}

.sub-menu-list li:nth-child(2),
.sub-menu-list li:nth-child(5) {
  margin: 0 5%;
}

.sub-menu-list li:nth-child(2) {
  padding-left: 55px;
}

.sub-menu-list li:nth-child(1n + 4) {
  margin-top: 30px;
}

.sub-menu-list li a {
  color: white;
  font-weight: 500;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.sub-menu-list li a span {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-top: 4px;
  color: rgba(255, 255, 255, 0.85);
  font-family: "Roboto", sans-serif;
}

.sub-menu-list li a:hover {
  text-decoration: underline;
}

.close-menu-categories {
  position: absolute;
  right: 2.33333333%;
  top: 99px;
  display: block;
  width: 30px;
  height: 30px;
}

.close-menu-categories span {
  display: block;
  width: 25px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
  top: 12.5px;
  left: 1px;
}

.close-menu-categories span:first-child {
  transform: rotate(45deg);
}

.close-menu-categories span:last-child {
  transform: rotate(-45deg) translate(1px, -2px);
}

/* Heading */
.hero-heading {
  text-align: center;
  position: absolute;
  z-index: 1;
  top: 300px;
  margin: auto;
}

.hero-heading h1 {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-size: 50px;
  width: 700px;
  text-transform: uppercase;
  color: #ffffff;
  z-index: -2;
}
/* -- "i" Icon For About The Website -------------------------------------------------------------------- */
.center {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  object-position: center;
}
/* -- To Make "Log in" and "Sign In" Underlined -------------------------------------------------------------------- */
.text-btn-nav a:active {
  text-decoration: underline;
}
/* -- For The "Comment Ca Marche ?" -------------------------------------------------------------------- */
.hero-heading h2 {
  margin-top: 15px;
  font-family: "Patrick Hand", cursive;
  font-size: 40px;
  font-weight: 400;
  width: 440px;
  color: #ffffff;
  margin-left: 18.5%;
  z-index: -2;
}

.hero-heading h2:hover {
  text-decoration: none;
}

.hero-heading a {
  text-decoration: none;
}
.title {
  text-align: center;
}
/*----- end of navigation bar -----------------------------------------------------------------------------*/
.carousel {
  background-color: rgb(182, 174, 174, 0.3);
  border-radius: 15px;
}
/* .row {
  display: flex;
  justify-content: space-evenly;
  padding: 1em 10em;
} */
.card {
  margin: 1rem 0;
  min-width: 20rem !important;
}
.title-text,
.title {
  background-color: transparent;
  color: white;
}
.progress {
  margin: 10px 0;
}

.search {
  width: 20em;
  margin: 1em auto;
  display: flex;
}
.btn-group me-2 {
  width: 20em;
  margin: 1em auto;
}
.pagination {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}

.cardBody {
  color: black;
}

.card-image {
  object-fit: contain;
}

.cardd {
  display: flex;
  flex-direction: column;
  margin: 3em 0em 3em 5em;
  background-color: rgba(235, 235, 235, 0.7);
  border-radius: 15px;
}

.title-div {
  display: flex;
  font-weight: 700;
}

.details {
  padding: 1em;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em;
  padding: 1em 1em 1em 2em;
  background-color: rgba(160, 157, 157, 0.8);
  font-weight: 700;
  border-radius: 15px;
}

.title {
  text-align: center;
  font-weight: 700;
  color: black;
}

.image {
  max-width: 30%;
  padding: 2em;
  margin: 1em;
  border-radius: 15px;
}

.image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.description {
  padding: 1em;
  margin: 1em;
  background-color: rgba(160, 157, 157, 0.8);
  border-radius: 15px;
  font-weight: 600;
}

.bigger-card {
  display: flex;
}

.donate {
  background-color: rgba(66, 60, 60, 0.8);
  min-width: 20%;
  margin: 3em 5em 3em 2em;
  min-height: 100%;
  height: 25em;
  border-radius: 15px;
  justify-content: center;
  padding: 2em;
}
.input-group {
  display: flex;
  margin: 1em 0 0;
  width: 50%;
}
.titeld {
  text-align: center;
  font-weight: 700;
  color: white;
}
.button {
  display: block;
  margin-top: 2em;
}
